@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


.Saludar{
    margin-top: 20px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 50px;
}

.ContenedorFiltro{
    display: flex;
    align-items: top;
    justify-content: center;
    border: 2px solid black;
    margin: 0;
    padding: 0;
}

.menuDesplegable{
    font-family: 'Rock Salt', cursive;
    margin-left: 10px;
}

.pagTienda{
    display: flex;
}