.itemBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding-bottom: 5px;
    height: 400px;
    width: 300px;
    background-image: linear-gradient(to left, rgb(1, 43, 1), rgb(0, 122, 0));
    border: 3px solid black;
    box-shadow: 3px 3px 6px black;
}

h3{
    font-size: 15px;
    width: 100%;
    padding-bottom: 5px;
    color: silver;
    background-color: black;
    text-align: center;
}
h4{
    font-size: 35px;
}


.imgBox{
    height: 200px;
    width: 300px;
    background-color: white;
    border: 2px solid black;
}

.imgTienda{
    height: 100%;
    width: auto;
}

.parrafoBox{
    font-weight: bold;
    font-size: large;
    color: white;
    width: 100%;
    text-align: center;
}

.itemBoxContainer{
    display: grid;
    row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 0%;
    padding-bottom: 20px;
    
}

