@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');


:root{
    --colorTexto: rgb(114, 7, 114);
    }

*{
    padding: 0;
    margin: 0;
}

.logoNav{
display: flex;
align-items: center;
justify-content: space-evenly;
}

.CartMenu{
    display: flex;
    align-items: center;

}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 15px;
    color: var(--colorTexto);
}



.MuiButtonBase-root:hover, a:hover{
    color: blue;
    transform: scale(1.1,1.1);
}

.MuiButtonBase-root:active{
    color:blue;
}

.active{
    color:blue;
}


/* MuiBottomNavigationAction-root MuiBottomNavigationAction-iconOnly css-118p9r0-MuiButtonBase-root-MuiBottomNavigationAction-root"
 */
img{
    height: 100px;
    width: 200px;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to top, white, white, white, white, green);
    box-shadow: 0 0 10px black;
    
}

.MuiBox-root {
    margin: 50px;
}

p{
    font-family: 'Neucha', cursive;
    margin: 10px;
    color: var(--colorTexto);
    text-align: center;
    font-weight: bold;
}

