.boxAgregarCarrito{
    display: flex;
    align-items:flex-end;
    margin: 0;
}

#inputCantidad{
    font-size: 20px;
    width: 70px;
    text-align: center;
    border: 2px solid black;
}

.boxContador{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    background-color: silver;
    border: 2px solid black;
    margin-bottom: 10px;
}

.btnContador:hover{
    color: var(--colorTexto);
    transform: scale(1.1,1.1);
}

.btnVolverTG{
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 5px;
    background-color: var(--colorTexto);
}

.precioTotal{
    color: white;
    font-size: 20px;
}